.list-item {
  display: flex;
  flex-direction: column;
  border: #f1f5f8 solid 3px;
  margin-bottom: 30px;
}
.heading {
  color: #52606d;
}
.horse {
  font-size: 15px;
}
.horizontal-line {
  border: #f1f5f8 solid 3px;
}
button {
  border: none;
  background-color: transparent;
}
.question-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
